.register-page.documents-page {
    /* Usar el color de fondo de la imagen */
    background-color: var(--chaskys-green);
    /* Asegura que ocupe toda la ventana visible */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    /* No padding al fondo para que la tarjeta inferior sea 'full-width' */
}

.docs-list {
    width: 100%;
    max-width: 300px;
    /* Limitar el ancho para pantallas grandes */
    margin: 35px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* Espacio entre los botones de documentos */
}

.doc-btn {
    /* El estilo base del bot칩n de documento */
    margin-left: -14px;
    display: block;
    width: 100%;
    background-color: var(--white);
    color: var(--dark-text);
    padding: 15px 20px;
    border-radius: 10px;
    text-align: left;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    /* Para contener el input file */
}

/* Estado de los documentos llenos */
.doc-btn.filled {
    border-left: 5px solid var(--chaskys-gold);
}

.doc-btn:hover {
    background-color: #f0f0f0;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.doc-btn input[type="file"] {
    /* Ocultar el input file nativo, ya que usamos el <label> */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.doc-title {
    font-weight: bold;
    font-size: 1.1em;
}

.doc-name {
    /* Estilo para mostrar el nombre del archivo cargado */
    font-size: 0.9em;
    color: #4C8479;
    display: flex;
    justify-content: end;
    margin-top: 3px; 
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* --- Tarjeta Inferior y Bot칩n --- */

.bottom-card.docs-bottom {
    /* La tarjeta blanca de abajo */
    width: 90%;
    background-color: var(--white);
    /* Borde redondeado solo en la parte superior */
    border-radius: 60px 60px 0px 0px;
    padding: 30px 20px;
    margin-top: auto;
    /* Empuja el div al fondo */
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
}



.bottom-card .next:hover:not(:disabled) {
    background-color: var(--button-hover);
}

.bottom-card .next:disabled {
    /* Estilo cuando el bot칩n est치 deshabilitado */
    background-color: #9CB9B3;
    /* Un gris claro */
    cursor: not-allowed;
    box-shadow: none;
}

